<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xdluoyang.ffxivtools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Main2Activity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.PageHuntHotMap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".pages.TestActivity" />
        <activity android:name=".pages.PetsActivity" />
        <activity android:name=".pages.MountsActivity" />
        <activity android:name=".pages.PetMountDetailActivity" />
        <activity android:name=".pages.ImageViewerActivity" />
        <activity android:name=".pages.ExploreActivity" />
        <activity android:name=".pages.ExploreDetailActivity" android:parentActivityName=".pages.ExploreActivity"/>
        <activity android:name=".pages.MusicActivity" />
        <activity android:name=".pages.DungeonsActivity" />
        <activity
            android:name=".pages.DungeonDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".pages.BlueMagicActivity" />
        <activity android:name=".pages.BlueMagicDetailActivity" android:parentActivityName=".pages.BlueMagicActivity"/>
        <activity android:name=".pages.WindActivity"/>
        <activity android:name=".pages.WindDetailActivity" android:parentActivityName=".pages.WindActivity"/>
    </application>

</manifest>